@font-face {
    font-family: poppins;
    src: url(fonts/poppins.ttf);
}

@font-face {
    font-family: poppinsttf;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: face;
    src: url();
}

body {
    background-color: #0475ba;
    font-family: poppins;
    font-size: 20px;
    margin: 0;
}

nav h1 {
    font-size: 24px;
    margin: 0;
    padding: 20px 0 20px 15px;
}

nav {
    display: flex;
    height: 72px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 24px;
}

nav li {
    padding: 0 20px;
}

a {
    font-size: 15px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
}

#jeremy {
    display: flexbox;
    background: white;
}

#jeremy h1 {
    font-size: 24px;
}

#jeremy h2 {
    color: #0475ba;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 70%;
}

#profil {
    margin: 30px;
    color: white;
    text-align: center;
}

#profil h1 {
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

#profil li {
    font-size: 16px;
    padding: 3px text-decoration-style: dotted;
}

#experience {
    background-color: white;
    padding: 100px 0;
    display: flexbox;
}

#experience h1 {
    color: #0475ba;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
}

#experience h2 {
    font-weight: bold;
    padding: 20px 0;
}

#experience li {
    font-size: 15px;
    padding: 15px;
}

#formation {
    color: white;
}

#formation h1 {
    font-weight: bold;
    padding: 40px;
}

#formation li {
    font-size: 15px;
    padding: 5px;
}

#passion {
    background-color: white;
}

.container {
    width: 600px;
    margin: auto;
}

