@font-face {
    font-family: poppins;
    src: url(fonts/poppins.ttf);
}

@font-face {
    font-family: poppinsttf;
    src: url(fonts/Poppins-Medium.ttf);
}

body {
    background-color: #0475ba;
    font-family: poppins;
    font-size: 20px;
}

header {
    display: inline-flex;
    margin: 10px;
    padding: 10px 0;
    max-width: 100%;
}

nav {
    height: 72px;
}

header li {
    display: inline-flex;
    justify-content: space-between;
    margin: 30px 20px;
    font-size: 16px;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
}

header a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

.haut {
    background: white;
    font-weight: bold;
    padding: 20px 20px;
}

.haut h1 {
    font-size: 24px;
}

.haut h2 {
    color: #0475ba;
}

img {
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 70%;
}

#profil {
    margin: 30px;
    color: white;
}

#profil h1 {
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

#profil li {
    font-size: 16px;
    padding:3px;
    text-align: center;
    text-decoration-style: dotted;
}

#experience {
    background-color: white;
    padding: 100px 0;
    text-align: center;
}

#experience h1 {
    color: #0475ba;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
}

#experience h2 {
    font-weight: bold;
    padding: 20px 0;
}

aside {
    display: inline-flex;
    padding: 0 15px;
}

#experience li {
    font-size: 15px;
    padding: 15px;
}

#formation {
    color: white;
    text-align: center;
}

#formation h1 {
    font-weight: bold;
    padding: 40px;
}

#formation li {
    font-size: 15px;
    padding: 5px;
    
}
