body {
    background-color: #0475ba;
    font-size: 20px;
}

header {display: inline-flex;
    margin: 10px;
    padding: 10px 0;
    max-width: 100%;

}

header li {
    display: inline-flex;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
    margin-left: 50px;
    font-size: 16px;
    
}

header h1 {
    color: white;
    font-weight: bold;
    margin-left: -5px;
    font-size: 25px;
}

header a {
    color: white;
    text-decoration: none;
}

.white {
    background: white;
}

img {
    height: 150px;
    width: 150px;
    display: inline-flex;
    border-radius: 70%;
}